<div class="container-scroller">
  <app-header-back></app-header-back>
  <div class="container-fluid page-body-wrapper">
    <app-menuback></app-menuback>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12">
            <span class="d-flex align-items-center purchase-popup">
              <p>Bienvenu !</p>
            </span>
          </div>
        </div>
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
              <i class="mdi mdi-home"></i>
            </span>
            Dashboard
          </h3>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
              </li>
            </ul>
          </nav>
        </div>
        <br>
        <br>

        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="openModel2()" data-bs-toggle="modal"
            data-bs-target="#newModal" style="background-color: #9a55ff;">
            Ajouter Produit
          </button>
        </div>

        <br>
        <br>
        <!-- Start add Reservation PopUp Model-->
        <!-- Modal -->
        <div class="modal" id="newModal">
          <div class="modal-dialog" style="border: 2px solid #800080; border-radius: 5px;">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Ajouter Produits</h4>
                <button type="button" (click)="closeModel2()" class="btn-close" data-bs-dismiss="newmodal"></button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="card-body">
                  <form [formGroup]="addProductForm" (ngSubmit)="aajoutProduit()">
                    <h6 class="heading-small text-muted mb-4">Information du Produit</h6>
                    <div class="pl-lg-4">
                      <div class="row">

                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="nom">Nom Produit</label>
                            <input type="text" id="nom" formControlName="nom"
                              class="form-control form-control-alternative" placeholder="nom">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="marque">Marque de Produit</label>
                            <input type="text" id="marque" formControlName="marque"
                              class="form-control form-control-alternative" placeholder="marque">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="image">Lien de l'image</label>
                            <input type="text" id="image" formControlName="image"
                              class="form-control form-control-alternative" placeholder="image">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="description">Description de
                              Produit</label>
                            <input type="text" id="description" formControlName="description"
                              class="form-control form-control-alternative" placeholder="description">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="quantite">Quantite</label>
                            <input type="number" id="quantite" formControlName="quantite"
                              class="form-control form-control-alternative" placeholder="quantite">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="prix">Prix</label>
                            <input type="text" id="prix" formControlName="prix"
                              class="form-control form-control-alternative" placeholder="prix">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="categorie">Categorie</label>
                            <select id="categorie" formControlName="categorie"
                              class="form-control form-control-alternative">
                              <option value="Homme">Homme</option>
                              <option value="Femme">Femme</option>
                              <option value="Enfant_Fille">Enfant_Fille</option>
                              <option value="Enfant_Garcon">Enfant_Garcon</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                    <hr class="my-4" />
                  </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" (click)="aajoutProduit()">Submit</button>
                  <button type="button" (click)="closeModel2()" class="btn btn-danger"
                    data-bs-dismiss="newmodal">Close</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!--End Add reservation -->
        <!-- Page content -->
        <div class="container-fluid mt--7">
          <!-- Table -->
          <div class="row" *ngIf="ListDesProduits.length > 0">
            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0" style="color: #9a55ff;">Liste des Produits</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Image</th>

                        <th scope="col">nom</th>
                        <th scope="col">marque</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Description</th>
                        <th scope="col">Categorie</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let produit of ListDesProduits">
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{produit.image}}>
                            </a>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{produit.id}}</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          {{produit.nom}}
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i> {{produit.marque}}
                          </span>
                        </td>
                        <td>
                          {{produit.quantite}} </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="mr-2"> {{produit.prix}} dt</span>
                            <div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60"
                                  aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-letf">
                          {{produit.description}}
                        </td>
                        <td class="text-letf">
                          {{produit.categorie}}
                        </td>
                        <td>

                          <button class="btn btn-outline-danger" style="border-color: #9a55ff; color: #9a55ff;" (click)="deleteProduct(produit.id)">Delete</button>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Prodducts Table-->

<app-footer-back></app-footer-back>