<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="assets/BackOffice/images/logo.svg">
              </div>
              <h4>Bienvenu !</h4>
              <h6 class="font-weight-light">Connecter Vous</h6>
              <form class="pt-3" [formGroup]="signinForm">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" formControlName="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" (click) = onSubmit(secondDialog)>Se Connecter</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                 Vous n'avez pas de compte? <a href="/register" class="text-primary">Créer</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <ng-template #secondDialog >
    <div class="signin-popup">
      <div class="signin-popup-content" >
        <h2 matDialogTitle style="color: #007bff; font-size: 24px;">{{ message }} </h2>
      </div>
    </div>
</ng-template>